/*
Paleta de colores

Verde Agua #00968B
Gris Claro #BABABA
Gris Medio #686868
Gris Dark  #4D4D4D
Negro      #272727

*/

/*Fuentes*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

/*Bloque antes del menú*/

.blockTop{
    background-image: url('../images/test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway';
}

.logo{
    height: 250px;
    width: auto;
}

.sticky-top {
    z-index: 900;
}

.selectLanguages,.iconLanguages{
    background-color: #686868;
    color: white;
    border: none;
    font-family: 'Raleway';
}

.iconLanguages{
    border-bottom-left-radius: 0;
}

.iconLanguages:focus{
    outline: none;
}

.selectLanguagesHover,.selectLanguages{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.form-control.selectLanguagesHover,.iconLanguagesHover{
    background-color: white;
    color: #686868;
    border: white;
}

.form-control.selectLanguagesHover:focus,.form-control.selectLanguages:focus{
    box-shadow: none;
    border: white;
}

.languagesCol{
    padding: 0px;
} 


/*Menú top*/

.menuTop{
    background-color: #272727;
    font-family: 'Ubuntu';
}

.optionActive{
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.optionNotActive{
    color: #686868;
    font-size: 1.2em;
}

.subscribe{
    background-color: red;
    color: white;
}

.optionNotActive:hover,.optionActive:hover{
    color:white;
    text-decoration: none;
}

.hvr-underline-from-center:before {
    background: #00968B;
    height: 1.5px;
}

.btnSubscribe{
    border-radius: 0;
}



/*Dark/Light mode*/

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #000;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    color: white;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 90px;
}
  
.theme-switch input {
    display:none;
}

.slider {
    background-color: #686868;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
} 
  
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
input:checked + .slider {
    background-color: #00968B;
}

input:checked + .slider:before {
    transform: translateX(51px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

label{
    margin-bottom: 0;
}

p.textSwitchMode{
    color: white;
    font-family: 'Ubuntu';
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
}

/*Game Brand New*/

.newGameBlock{
    height: auto;
    /*background-image: url(../images/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    background-color:#000; 
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textGameNew{
    color:black;
    font-family: 'Raleway';
    font-size: 1.2em;
    margin-top: 50px;
    padding: 15px;
}

.colNG{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
}

.hrCustom{
    background-color: black;
}

.gifgame{
    padding: 5px;
}

.rowBuy{
    margin-top: 30px;
    padding: 15px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    align-content: center;
}

p.buyZone{
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
}

/*Subscribe banner*/

.bannerSubs{
    height: auto;
    margin-top: 10px;
    background-color: #00968B;
}

.subscribeText{
    color: white;
    font-family: 'Ubuntu';
    font-size: 5em;
}

/*Normal games*/

.rowGames{
    background-color: white;
    height: 60px;
    font-family: 'Ubuntu';
}

.gamesCarousel{
    margin-bottom: 50px;
    margin-top: 50px;
}

.textGames{
    font-family: 'Raleway';
    color: white;
}

.rowText{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.crInd{
    bottom: -70px;
}

/*Footer block*/

.footerBlock{
    height: auto;
    background-color: #272727;
}

.socialIcons{
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.ig:hover{
    color: #E1306C;
}

.dc:hover{
    color: #7289da ;
}

.tt:hover{
    color: #1DA1F2;
}

.gh:hover{
    color: #6e5494;
}

.rowIcons{
    margin-top: 20px;
}

.rowCpr{
    margin-top: 20px;
}

.cpr{
    color: white;
}

/*Responsive

    1) Revisar reordenado en cuadricula, bootstrap


*/

@media (max-width: 575.98px) { }

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { }

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }