/*
    Paleta de colores:
        Azul verdoso:   #00968B
        Gris claro:     #BABABA
        Negro:          #272727
        Gris:           #686868
        Gris oscuro:    #4D4D4D
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(125, 125, 125);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header {
    height: 130px;
    background-color: #272727;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    }

    .logo {
        grid-column-start: 3;
        grid-column-end: span 1;
    }

    .language {
        grid-column-start: 5;
        grid-column-end: span 1;
        align-self: end;
        justify-self: end;
    }

    .language img {
        margin-right: -25px;
        vertical-align: middle;
    }

    .language-selector {
        padding: 5px 10px 5px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #686868;
        background-color: transparent;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .language-selector option {
        background-color: #272727;
}

.navbar {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    background-color: #00968b;
    color: white;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 3;
    align-items: center;
    justify-items: center;
    }

    .menu {
        grid-column-start: 2;
        grid-column-end: span 1;
        justify-self: space-between;
        font-size: 20px;
        width: 50%;
    }
    .navbar ul {
        display: flex;
        height: inherit;
        justify-content: space-around;
    }
    .navbar a, .options a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        padding: 0 10px;
    }
    .link:hover{
        color: #272727;
    }
    .link.selected {
        font-size: 22px;
    }
    
    .subscribe-button {
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        justify-self: stretch;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: rgb(107, 4, 93);
        cursor: pointer;
    }
    .subscribe-button:hover {
        background-color: rgb(131, 20, 116);
        border: 1px solid white;
    }

    .theme-switch-wrapper {
        display: flex;
        align-items: center;
    }
    .theme-switch {
        display: inline-block;
        height: 30px;
        position: relative;
        width: 60px;
    }
    .theme-switch input {
        display: none;
    }
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 22px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    input:checked + .slider {
        background-color: #686868;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 80px 20px; 
    align-items: center;
    justify-items: center;
    background-color: #BABABA;
    height: 120px;
    }

    .social {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        display: block;
        color: #4d4d4d;
    }
    .social-item {
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
    }
    .social-item:hover {
        color: rgb(107, 4, 93);
    }

    .copyright {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .copyright p {
        font-size: 16px;
        color: #686868;
    }

    footer .language {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        align-self: center;
        justify-self: center;
    }
    footer .language-selector {
        color: #272727;
        padding: 10px 50px 10px 20px;
        margin: 0;
    }
    footer .language-selector option {
        background-color: #272727;
        color: white;
}

.highlight {
        height: 350px;
        position: relative;
        overflow: hidden;
        display: grid;
        grid-template: 20px 300px 20px / 30px 1fr 3fr 30px;
    }

    .highlight-gif-wrapper {
        width: inherit;
        height: inherit;
        grid-column: 1 / span 4;
    }
    .highlight-gif {
        object-fit: fill;
        height: inherit;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    .highlight-cover-wrapper {
        overflow: hidden;
        object-fit: cover;
        border: 3px solid black;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .highlight-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .highlight-content {
        color: white;
        background-color: rgba(0, 0, 0, .89);
        padding: 20px;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        display: grid;
        grid-template: 40px 150px 70px / 2fr 1fr;
    }
    .highlight-title {
        color: #1eafa6;
        font-size: 30px;
        margin-top: 0;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 0;
    }
    .highlight-description {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        margin: 5px;
        border-right: 1px solid white;
        padding-right: 20px;
    }
    .highlight-details {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        padding-left: 20px;
        margin: 0;
    }
    .highlight-details p {
        margin: 10px 0;
    }
    .highlight-rating strong {
        vertical-align: top;
    }
    .highlight-button {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        margin: 15px;
        background-color: #00968b;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    .highlight-button:hover {
        background-color: #1eafa6;
    }